<form action="/<%= @file_name %>" method="post">
  <dl>
    <dt>
      <label for="content">Edit content of <%= @file_name %></label>
    </dt>
    <dd>
      <textarea name="content" if="content" cols="100" rows="20"><%= @content %></textarea>
    </dd>
  </dl>
  <button type="submit">Save Changes</button>
</form>
