<!doctype html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>My CMS</title> 
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <% if session[:error] %>
      <div class="error"><%= session.delete(:error) %></div>
    <% elsif session[:success] %>
      <div class="success"><%= session.delete(:success) %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
