<form action="/create" method="post">
  <dl>
    <dt><label for="filename">Enter the name of the file</label></dt>
    <dd><input type="text" name="filename"</dd>

    <dt><label for="content">You can add content:</label></dt>
    <dd><textarea name="content" cols="100" rows="20"></textarea></dd>
  </dl>

  <button type="submit">Create Document</button>
</form>
